@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

.scroll-container {
  display: flex;
  scroll-snap-type: x mandatory; /* 스크롤 스냅핑 수평 설정 */
  scroll-padding: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; /* 터치 스크롤 부드럽게 설정 */
}

.scroll-item {
  flex: 0 0 auto;
  scroll-snap-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(to right, #9b5de5, #f15bb5, #fee440, #00bbf9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@font-face {
  font-family: 'Yangpyeong';
  src: url('/fonts/yangpyeong_B.ttf') format('truetype'),
    url('/fonts/yangpyeong_L.ttf') format('truetype'),
    url('/fonts/yangpyeong_M.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.text-yangpyeong {
  font-family: 'Yangpyeong', sans-serif;
}

.cursor-wait {
  cursor: wait;
}

.section-bg {
  background-image: url('/images/section3-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-pagination-bullet {
  @apply border-black-200 border w-3 h-3 opacity-100 rounded-full !important;
}

.swiper-pagination-bullet-active {
  @apply bg-black-500 w-3 h-3 !important;
}

.swiper-button-next,
.swiper-button-prev {
  @apply text-black-300  p-3 shadow-lg !important;
  @apply hover:scale-110 !important;
}

.prose .ql-align-center {
  text-align: center;
}

.prose .ql-align-right {
  text-align: right;
}

.prose {
  max-width: 100%; /* 부모 요소의 전체 너비를 차지하도록 설정 */
}
